@use '../extend/index.scss' as *;

.trees_box {
  .trees_text_field {
    width: 100%;
    input {
      @include input_form;
    }
    input::placeholder {
      @include placehoder_form;
    }
    .input_show {
      width: 100%;
      .show_pw {
        position: absolute;
        right: 2%;
        cursor: pointer;
        .MuiSvgIcon-root {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
