$color-01: #ff6a00dc;
$color-02: #ff6a0057;
$color-03: #757575;
$color-04: #eeeeee;
$color-05: #ebebeb;
$color-white: white;

$background-body-1: #f5f5f5;
$background-body-2: #ece9e6;
$background-loading: #ffffff6b;

$border1: 1px solid #ebebec;
$border2: 1px solid #cdcdcd5c;
$border3: 1px solid #cdcdcd5c;
$borderTable: 1px solid #ebebec;
$box-shadow-01:
  0 -1px 0 rgba(0, 0, 0, 0.04),
  0 1px 1px rgba(0, 0, 0, 0.25);
$box-shadow-02:
  0 -1px 0 rgba(0, 0, 0, 0.04),
  0 2px 4px rgba(0, 0, 0, 0.25);

$box-shadow-03:
  0 -1px 0 rgba(0, 0, 0, 0.04),
  0 2px 4px rgba(0, 0, 0, 0.25),
  0 0 0 3px #c8dafc;

$box-shadow-04:
  0 -1px 0 rgba(0, 0, 0, 0.04),
  0 1px 1px rgba(0, 0, 0, 0.25);
