$color-main: #ff6a00dc;
$color-second: #ff6a0057;
$color-third: #ff6a0023;

$color-hover: #eeeeee;
$color-disable: #ebebeb;
$color-white: white;

$background-main: #f0e7de;
$background-second: #cfcece;
$background-third: #eae4e42b;

$background-scroll: #a3a3a3;

$border-main: 1px solid #ebebec;
$borde-second: 1px solid $color-second;
$borderthird: 1px solid #cdcdcd5c;

$box-shadow: 0px 1px 1px $color-main;
$box-shadow-hover: 0px 1px 2px $color-second;
