@use '../variable/index.scss' as *;

.loading {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background-loading;
  svg {
    color: $color-01;
  }
}
