@use '../extend/index.scss' as *;
@use '../variable/index.scss' as *;

.note_details {
  .btn_container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the .btn_add */
    position: relative;
    .btn_auto {
      position: absolute;
      left: 0; /* or right: 0 for right side */
    }
    .btn_add {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btn_upload {
    cursor: pointer;
    display: flex;
  }
  .animate_drag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    width: 100%;
    height: 100%;
    border: 1px dashed $color-main;
    background-color: $color-third;
    border-radius: 10px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main;
  }
  .item_detail {
    max-height: 200px;
    background: $color-third;
    overflow: hidden;
    .MuiTextarea-root {
      max-height: 140px;
    }
    .upload_file {
      display: flex;
      align-items: center;
      gap: 1;
    }
    img,
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.note_details_empty::after {
  content: 'Empty data';
  position: absolute;
  transform: translate(-50%);
  font-size: 20px;
  color: $color-second;
}

.popover_page {
  background-color: $background-main;
  padding: 10px;
  div {
    font-size: 13px;
    font-weight: 500;
    padding: 5px;
  }
  .popover_box {
    text-align: right;
    span {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
