@use '../extend/index.scss' as *;
@use '../variable/index.scss' as *;

.note_details {
  .item_detail {
    max-height: 200px;
    background: $color-third;
    overflow: hidden;
    .MuiTextarea-root {
      max-height: 140px;
    }
  }
}

.note_details_empty::after {
  content: 'Empty data';
  position: absolute;
  transform: translate(-50%);
  font-size: 20px;
  color: $color-second;
}
