@use './variable/index.scss' as *;
@use './auth/index.scss' as *;
@use './tree/index.scss' as *;
@use './loading/index.scss' as *;

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../../font/Gotham\ Ultra.otf') format('opentype');
}

body {
  font-family: 'Gotham Ultra', sans-serif;
  color: $color-01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
}

body {
  background: $background-body-1 !important;
  background: -webkit-linear-gradient($background-body-1, $background-body-2);
  background: linear-gradient($background-body-1, $background-body-2);
}

body::-webkit-scrollbar,
.MuiDialogContent-root::-webkit-scrollbar,
.MuiGrid-root::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $background-body-2;
}
body::-webkit-scrollbar-thumb,
.MuiDialogContent-root::-webkit-scrollbar-thumb,
.MuiGrid-root::-webkit-scrollbar-thumb {
  background: $background-body-1;
  border-radius: 6px;
  border: $border3;
  box-shadow: $box-shadow-01;
}

.MuiMenuItem-root {
  font-size: 13px !important;
}
.MuiInput-underline:before,
.MuiInput-underline:after {
  display: none !important;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  border-radius: 10px !important;
}

.Toastify__toast-container {
  width: auto !important;
}

.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: $color-01 !important;
}

.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDialog-paper,
.MuiDialog-paperScrollPaper MuiDialog-paperWidthLg {
  overflow: hidden !important;
}

.MuiAccordionSummary-expandIconWrapper {
  transform: none !important;
}

.MuiCard-root,
.card {
  border-radius: 20px !important;
}

.MuiListItemText-root {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.MuiSvgIcon-root,
.MuiSwitch-switchBase {
  color: $color-02 !important;
}

.MuiSwitch-track,
.css-tj8d99-MuiSwitch-track,
.css-p85nl6-MuiTreeItem2-content {
  background-color: $color-02 !important;
}

.css-p85nl6-MuiTreeItem2-content:focus {
  background-color: $color-01 !important;
}
